<!DOCTYPE html>
<html lang="ko">

  <% include ../include/header %>

<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

    <% include ../include/sidebar %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>404 Error Page</h1>
        <ol class="breadcrumb">
          <li><a href="../home/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
          <li class="active">404 Error</li>
        </ol>
      </section>
      <!-- Content Header (Page header) -->

      <!-- Main content -->
      <section class="content">
        <div class="error-page">
          <h2 class="headline text-yellow"> 404</h2>

          <div class="error-content">
            <h3>
              <i class="fa fa-warning text-yellow"></i> Oops! Page not found.
            </h3>

            <p>
              Sorry, but the page you are looking for has note been found.
              Try checking the URL for error, then hit the refresh button on your browser
              or you may <a href="/">return to dashboard</a>
            </p>

          </div>
          <!-- /.error-content -->
        </div>
        <!-- /.error-page -->
      </section>
      <!-- /Main content -->

    </div>
    <!-- /.content-wrapper -->


    <% include ../include/footer %>
  </div>
  <!-- ./wrapper -->

    <script type="text/javascript">

    </script>

</body>

<html>
