<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HIPHOPER | CMS</title>
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="../../bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="../../dist/css/pace-blue-loading-bar.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="../../dist/css/skins/_all-skins.min.css">
    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="../../dist/css/magnific-popup.css">
  
    <link rel="stylesheet" href="../../dist/css/awesome-bootstrap-checkbox.css">
  
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.css">
  
    <style>
      .label-white, .btn-white { background-color: #FFFFFF; color: #444; border: 1px solid; border-color: #DFDFDF; }
      .label-gray, .btn-gray { background-color: #F4F4F4; color: #444; border: 1px solid; border-color: #DFDFDF; }
      /* .wrap-loading{
          position: fixed;
          left:0;
          right:0;
          top:0;
          bottom:0;
          background: rgba(0,0,0,0.2);
          filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#20000000', endColorstr='#20000000');
      }
      .wrap-loading div{
          position: fixed;
          top:50%;
          left:50%;
          margin-left: -21px;
          margin-top: -21px;
      } */
      .display-none{
          display:none;
      }
      .required::before{
        display: block;
        position: absolute;
        top: 8px;
        right: 8px;
        content: '*';
        font-size: 12px;
        color: #f00;
      }
    </style>
  </head>
  
