<header class="main-header">
    <!-- Logo -->
    <a href="../home/dashboard" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <!-- <span class="logo-mini"><b>A</b>LT</span> -->
      <span><b>VicFactory</b></span>
      <!-- logo for regular state and mobile devices -->
      <!-- <span class="logo-lg"><b>Admin</b>LTE</span> -->
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
  
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <li class="dropdown messages-menu">
            <a href="#" onclick="logout(); return false;">
              <i class="fa fa-sign-out"></i> Log out
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <style>
      .treeview-menu>li>a { font-size: 13px; }
    </style>
  </header>
  
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="../../dist/img/avatar.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>VicFactory Manager</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
    </section>
    <!-- sidebar menu: : style can be found in sidebar.less -->
  
    <ul class="sidebar-menu" data-widget="tree" style="font-size: 13px;">
        <li class="header">MAIN NAVIGATION</li>
    </ul>
    <ul class="sidebar-menu" id="sidebar-menu-ul" data-widget="tree" style="font-size: 13px; height:100%;">
      <li>
        <a href="/home/dashboard">
          <i class="fa fa-dashboard"></i> <span>DASHBOARD</span>
          <!-- <span class="pull-right-container">
            <small class="label pull-right bg-green">new</small>
          </span> -->
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-user"></i>
          <span>회원 관리</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="../userlist"><i class="fa fa-circle-o"></i> 회원 정보 조회/수정</a></li>
  
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-desktop"></i>
          <span>프로모션 관리</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <!-- <li><a href="/coupon/couponList"><i class="fa fa-circle-o"></i> 쿠폰 관리</a></li>
          <li><a href="../couponReg"><i class="fa fa-circle-o"></i> 상품쿠폰 등록</a></li>
          <li><a href="/coupon/couponRegCart"><i class="fa fa-circle-o"></i> 장바구니쿠폰 등록</a></li>
          <li><a href="/coupon/couponDelProd"><i class="fa fa-circle-o"></i> 상품쿠폰 상품삭제</a></li>
          <li><a href="/coupon/couponGlobalProd"><i class="fa fa-circle-o"></i> 장바구니쿠폰 공통상품 적용/제외</a></li> -->
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-desktop"></i>
          <span>마일리지 관리</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <!-- <li><a href="/mileage/mileage_event"><i class="fa fa-circle-o"></i> 이벤트 마일리지 추가</a></li>
          <li><a href="/mileage/review"><i class="fa fa-circle-o"></i> 상품평 마일리지 비율 관리</a></li> -->
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-desktop"></i>
          <span>업체 관리</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/newPartner/doPartnerList"><i class="fa fa-circle-o"></i> 업체 리스트</a></li>
          <!-- <li><a href="/partnerNotice/list"><i class="fa fa-circle-o"></i> 업체 공지사항</a></li> -->
        </ul>
      </li>
      <!-- <li class="treeview">
        <a href="#">
          <i class="fa fa-desktop"></i>
          <span>상품 관리</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="../itemList"><i class="fa fa-circle-o"></i> 상품 조회/수정</a></li>
          <li><a href="/newitem"><i class="fa fa-circle-o"></i> 상품 조회/수정 (New)</a></li>
          <li><a href="/newitem/relation/item"><i class="fa fa-circle-o"></i> 연관 상품 조회</a></li>
          <li><a href="/newitem/relation/brand"><i class="fa fa-circle-o"></i> 연관 브랜드 상품 조회</a></li>
          <li><a href="/newitem/limit"><i class="fa fa-circle-o"></i> 제한 조건 상품 관리</a></li>
          <li><a href="/newBrand/brandList"><i class="fa fa-circle-o"></i> 브랜드 관리</a></li>
          <li><a href="../itemPartModifyList"><i class="fa fa-circle-o"></i> 상품 일부 수정</a></li>
          <li><a href="../itemSetting"><i class="fa fa-circle-o"></i> 상품 일괄 수정</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> 카테고리 미분류 아이템</a></li>
          <li><a href="../batch/item"><i class="fa fa-circle-o"></i> 일괄수정</a></li>
          <li><a href="/newitem/sales/detail"><i class="fa fa-circle-o"></i> 상품 상세 정보 관리</a></li>
        </ul>
      </li> -->
      <li class="treeview">
        <a href="#">
          <i class="fa fa-desktop"></i>
          <span>주문/매출 관리</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/sell/order"><i class="fa fa-circle-o"></i> 주문 관리 </a></li>
          <li><a href="/sell/cancel"><i class="fa fa-circle-o"></i> 취소 관리</a></li>
          <li><a href="/sell/exchange"><i class="fa fa-circle-o"></i> 교환 관리</a></li>
          <li><a href="/sell/return"><i class="fa fa-circle-o"></i> 반품 관리</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-desktop"></i>
          <span>정산 관리</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <!-- <li><a href="/sell/settle_new"><i class="fa fa-circle-o"></i> 월별 정산 관리 </a></li>
          <li><a href="/sell/settle"><i class="fa fa-circle-o"></i> 구 월별 정산 관리(2019.12 이전) </a></li>
          <li><a href="/sell/settlehistory"><i class="fa fa-circle-o"></i> 정산 이력 </a></li> -->
        </ul>
      </li>
      <!-- <li class="treeview">
        <a href="#">
          <i class="fa fa-desktop"></i>
          <span>배너 관리</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/banner/mainBanner"><i class="fa fa-circle-o"></i> MAIN</a></li>
          <li><a href="/banner/gnbCurtain"><i class="fa fa-circle-o"></i> GNB CURTAIN</a></li>
          <li><a href="../newBannerList"><i class="fa fa-circle-o"></i> NEW</a></li>
          <li><a href="/banner/brandBanner"><i class="fa fa-circle-o"></i> BRAND</a></li>
          <li><a href="../lookbookBannerList"><i class="fa fa-circle-o"></i> LOOKBOOK</a></li>
          <li><a href="../clothingBannerList"><i class="fa fa-circle-o"></i> CLOTHING</a></li>
          <li><a href="../shoesBannerList"><i class="fa fa-circle-o"></i> SHOES</a></li>
          <li><a href="../accBannerList"><i class="fa fa-circle-o"></i> ACC</a></li>
          <li><a href="../lifeBannerList"><i class="fa fa-circle-o"></i> LIFE</a></li>
          <li><a href="../selectBannerList"><i class="fa fa-circle-o"></i> SELECT</a></li>
          <li><a href="/banner/eventBanner"><i class="fa fa-circle-o"></i> EVENT</a></li>
          <li><a href="/banner/onedayPopup"><i class="fa fa-circle-o"></i> ONEDAY POPUP</a></li>
          <li><a href="/banner/cardEvent"><i class="fa fa-circle-o"></i> CARD EVENT</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-desktop"></i>
          <span>카테고리 메인 관리</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="../clothingItem"><i class="fa fa-circle-o"></i> CLOTHING(상품)</a></li>
          <li><a href="../clothingBrand"><i class="fa fa-circle-o"></i> CLOTHING(브랜드)</a></li>
          <li><a href="../shoesItem"><i class="fa fa-circle-o"></i> SHOES(상품)</a></li>
          <li><a href="../shoesBrand"><i class="fa fa-circle-o"></i> SHOES(브랜드)</a></li>
          <li><a href="../lifeItem"><i class="fa fa-circle-o"></i> LIFE(상품)</a></li>
          <li><a href="../lifeBrand"><i class="fa fa-circle-o"></i> LIFE(브랜드)</a></li>
          <li><a href="../accItem"><i class="fa fa-circle-o"></i> ACC(상품)</a></li>
          <li><a href="../accBrand"><i class="fa fa-circle-o"></i> ACC(브랜드)</a></li>
          <li><a href="../selectItem"><i class="fa fa-circle-o"></i> SELECT(상품)</a></li>
          <li><a href="../selectBrand"><i class="fa fa-circle-o"></i> SELECT(브랜드)</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-desktop"></i>
          <span>메인 전시 관리 (모바일 전용)</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/mobile/app/mobile_app_popup"><i class="fa fa-circle-o"></i> 팝업 관리 (웹/앱) </a></li>
          <li><a href="/mobile/banner/floatingBanner"><i class="fa fa-circle-o"></i> 상단 띠배너 관리 </a></li>
          <li><a href="/mobile/banner/mainBanner"><i class="fa fa-circle-o"></i> 메인 배너 관리 </a></li>
          <li><a href="/search/searchkeyword"><i class="fa fa-circle-o"></i> 검색어 관리 (인기/추천) </a></li>
          <li><a href="/mobile/banner/eventBanner"><i class="fa fa-circle-o"></i> 회원 이벤트 배너 관리 </a></li>
          <li><a href="/mobile/sales"><i class="fa fa-circle-o"></i> 세일 탭 관리 (단독/클리어런스) </a></li>
          <li><a href="/mobile/promotions"><i class="fa fa-circle-o"></i> 메인 기획전 관리 </a></li>
          <li><a href="/mobile/keywords"><i class="fa fa-circle-o"></i> 오늘의 키워드 관리 </a></li>
          <li><a href="/mobile/reviews/main"><i class="fa fa-circle-o"></i> 메인 상품평 관리 </a></li>
          <li><a href="/mobile/banner/brandBanner"><i class="fa fa-circle-o"></i> 브랜드 배너 관리 </a></li>
          <li><a href="/mobile/banner/magazineBanner"><i class="fa fa-circle-o"></i> 매거진 배너</a></li>
          <li><a href="/mobile/categories"><i class="fa fa-circle-o"></i> 카테고리 메인 괸리 </a></li>
          <li><a href="/mobile/reviews/review"><i class="fa fa-circle-o"></i> 상품평 관리</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-desktop"></i>
          <span>앱 관리</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/mobile/app/mobile_app_intro"><i class="fa fa-circle-o"></i> 모바일 앱 인트로 관리 </a></li>
          <li><a href="/mobile/app/mobile_app_push"><i class="fa fa-circle-o"></i> 모바일 앱 푸시 관리 </a></li>
          <li><a href="/mobile/app/mobile_app_version"><i class="fa fa-circle-o"></i> 모바일 앱 버전 관리 </a></li>
        </ul>
      </li> -->
      <!-- <li class="treeview">
        <a href="#">
          <i class="fa fa-desktop"></i>
          <span>이벤트 관리</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="../marketing"><i class="fa fa-circle-o"></i> 마케팅</a></li>
        </ul>
      </li> -->
      <!-- <li class="treeview">
        <a href="#">
          <i class="fa fa-desktop"></i>
          <span>기획전 관리</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/promotion/promotionList"><i class="fa fa-circle-o"></i> 기획전</a></li>
          <li><a href="/promotion/promotionReg"><i class="fa fa-circle-o"></i> 기획전 등록</a></li>
        </ul>
      </li> -->
      <li class="treeview">
        <a href="#">
          <i class="fa fa-desktop"></i>
          <span>사이트 관리</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/site/searchKeyword"><i class="fa fa-circle-o"></i> 검색어 관리</a></li>
          <li><a href="/site/mobileGnb"><i class="fa fa-circle-o"></i> 모바일 상단 GNB 관리</a></li>
          <li><a href="/site/notice"><i class="fa fa-circle-o"></i> 공지사항 관리</a></li>
        </ul>
      </li>
      <!-- <li class="treeview">
        <a href="#">
          <i class="fa fa-desktop"></i>
          <span>메세지</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/sendmsg/send"><i class="fa fa-circle-o"></i>SMS 발송</a></li>
          <li><a href="/sendmsg/log"><i class="fa fa-circle-o"></i> SMS 발송 내역</a></li>
        </ul>
      </li> -->
      <!-- <li class="treeview">
        <a href="#">
          <i class="fa fa-desktop"></i>
          <span>자료</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="../analytics/marketing"><i class="fa fa-circle-o"></i>구매이력사용자(3개월)</a></li>
          <li><a href="../analytics/storeinfo"><i class="fa fa-circle-o"></i>스토어 정보 통계</a></li>
        </ul>
      </li> -->
      <!-- <li class="treeview">
        <a href="#">
          <i class="fa fa-desktop"></i>
          <span>콘텐츠 관리</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/magazine"><i class="fa fa-circle-o"></i> Magazine 관리</a></li>
          <li><a href="/streetFashion"><i class="fa fa-circle-o"></i> Street Fashion 관리</a></li>
          <li><a href="/curation"><i class="fa fa-circle-o"></i> Curation 관리</a></li>
        </ul>
      </li> -->
      <li class="treeview">
        <a href="#">
          <i class="fa fa-desktop"></i>
          <span>관리자 관리</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/admin/adminList"><i class="fa fa-circle-o"></i> 관리자 계정 관리</a></li>
          <!-- <li><a href="/adminLog"><i class="fa fa-circle-o"></i> 어드민 로그</a></li>
          <li><a href="/adminAccesslog"><i class="fa fa-circle-o"></i> 어드민 접속 로그</a></li> -->
        </ul>
      </li>
    </ul>
  </aside>
  
  <script type="text/javascript">
    function logout() {
        $.ajax({
            url: '/login/logout',
            method: 'GET',
            cache: false,
            beforeSend: function (xhr) {
                xhr.withCredentials = true;
            },
            success: function (data, textStatus, xhr) {
                alert('로그아웃 되었습니다.');
                window.location.href="/login";
            },
            error: function (data, textStatus, xhr) {
                alert(data);
            }
        });
    }
  </script>
  
