@charset "utf-8";
.form-check {
	position: relative;
	display: block;
	padding-left: 1.25rem;
  }
  
  .form-check-input {
	position: absolute;
	margin-top: 0.3rem;
	margin-left: -1.25rem;
  }
  
  .form-check-input:disabled ~ .form-check-label {
	color: #6c757d;
  }
  
  .form-check-label {
	margin-bottom: 0;
  }
  
  .form-check-inline {
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-align: center;
	align-items: center;
	padding-left: 20px;
	margin-right: 0.75rem;
  }
  
  .form-check-inline .form-check-input {
	position: static;
	margin-top: 0;
	margin-right: 1rem;
	margin-left: 0;
  }

  .was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label {
	color: #28a745;
  }
  
  .was-validated .form-check-input:valid ~ .valid-feedback,
  .was-validated .form-check-input:valid ~ .valid-tooltip, .form-check-input.is-valid ~ .valid-feedback,
  .form-check-input.is-valid ~ .valid-tooltip {
	display: block;
  }

  .was-validated .form-check-input:invalid ~ .form-check-label, .form-check-input.is-invalid ~ .form-check-label {
	color: #dc3545;
  }
  
  .was-validated .form-check-input:invalid ~ .invalid-feedback,
  .was-validated .form-check-input:invalid ~ .invalid-tooltip, .form-check-input.is-invalid ~ .invalid-feedback,
  .form-check-input.is-invalid ~ .invalid-tooltip {
	display: block;
  }

  .form-inline .form-check {
	width: 100%;
  }
  
  .form-group.required .control-label:after {
    content:"*";color:red;
  }
  .box-header.required .box-title:after{
    content:"*";color:red;
  }
  .control-label2{
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
  }

  .imagePreview {
    width: 100%;
    height: 180px;
    background-position: center center;
    background: url(https://d1vacfmlqn0ra5.cloudfront.net/item_thumbnail/no-image.jpg);
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    box-shadow: 0px -3px 6px 2px rgba(0, 0, 0, 0.2);
  }
 
  .imgUp {
    margin-bottom: 15px;
  }
  .del {
    position: absolute;
    top: 0px;
    right: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
  }
  .imgAdd {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #4bd7ef;
    color: #fff;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 30px;
    margin-top: 0px;
    cursor: pointer;
    font-size: 15px;
  }
  .disabled-picker {
    opacity: 0.7;
    pointer-events: none;
  }

  .card{
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .2rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 0 2rem 0 rgba(0,0,0,.05);
  }
  .card-header:first-child {
    border-radius: .2rem .2rem 0 0;
  }
  .card-header {
      background: transparent;
  }
  .card-header {
    text-align:center;
      margin-bottom: 0;
      background-color: #fff;
      border-bottom: 0 solid rgba(0,0,0,.125);
  }

  .card-body {
      -webkit-box-flex: 1;
      flex: 1 1 auto;
    
  }